@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
}

<!--คำตรงที่เป็นพื้นหลัง "Meow Company"-->
<div class="title">
    <p class="meow">MEOW<br></p>
    <p class="cpn">Company</p>
</div>