@page
@model MeowCompany.Pages.LoginModel
@{

    ViewData["Title"] = "Login";
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
   
}

<div class="login-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign in to Meow Company</h5>
            </div>

             <form method="post">
                @if (Model.errorMessage.Length > 0)
                {
                    <div class="row d-flex justify-content-center mt-3 mb-0 mx-3">
                        <div class="col-sm-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>@Model.errorMessage</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                }
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" value=""/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="Password" class="form-control" value=""/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="loginbtn">Sign in</button>
                </div>
                <p class="register">Don't have any acoount? <a asp-area="" asp-page="/Register">Add user</a></p>
            </form>
        </div>
    </div>
</div>
